.sketcher {
  width: calc(100% - 4rem);
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: cadetblue;
  padding: 1rem;
  // Left list

  &-list {
    background-color: yellow;
    display: block;
    width: 90px;
    height: 270px;
    position: relative;
    float: left;
    .cdk-drag-placeholder {
      opacity: 0.5;
      height: 90px;
      overflow: hidden;
    }
    &-placeholder {
      display: flex;
      height: 96px;
      width: 100%;
      background-color: darkred;
    }
    &-preview {
      display: flex;
      height: 96px;
      width: 40%;
      background-color: darkred;
    }
    &-item {
      width: 90px;
      height: 90px;
    }
  }
  

  // mid content
  &-content {
    height: 100%;
    background-color: coral;
    width: 70%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    &-placeholder {
      background-color: darkgray;
    }
    &-preview {
    }
    &-item {
      display: flex;
      width: 100%;
      background-color: darkred;
      &__img {
        .cdk-drag-placeholder {
          background-color: white;
          transform: translateY(-96px);
          max-height: 0px;
          background-color: darkred;
        }
        
      }
      .cdk-drop-list-dragging {
        img {
          opacity: 0;
        }
        outline: 5px dotted aqua;
        outline-offset: -10px;
      }
    }
    /* .cdk-drag-placeholder {
      background-color: deeppink;
    } */
  }

  // right list
  &-templates {
    width: 90px;
    height: 500px;
    background-color: green;
    position: relative;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
 
}
