.sketcher {
  display: flex;
  height: 30rem;
  
  &-images {
    width: 15rem;
    overflow-y: scroll;
  }
  &-image {
    &--drag {
      position: absolute;
      transform: translateY(-100%);
    }
  }
  &-templates {
    display: block;
  }
  &-content {
    width: 153px;
    height: 101px;
    overflow-y: scroll;
    background-color: yellow;
    .sketcher-image--drag{
      /* transform: translateY(0); */
    }

    /* .cdk-drag-placeholder {
     display: none;
     p {
       display: none;
     }
    } */
  }

}

.cdk-drag-preview {
  
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging {
}

.cdk-drop-list-dragging .cdk-drag {
  /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  /* transition: transform 300ms cubic-bezier(0, 0, 0.2, 1); */
}