<div class="sketcher">

  <app-custom-scroll [templates]="templates"></app-custom-scroll>

  <div cdkDropList [cdkDropListConnectedTo]="getConections()" #templateList="cdkDropList" class="sketcher-templates"
    [cdkDropListData]="images" (cdkDropListDropped)="drop($event)">
    <div cdkDrag (cdkDragMoved)="moved($event)" (cdkDragEnded)="ended($event)" cdkDragBoundary=".sketcher"
      [cdkDragData]="image"  *ngFor="let image of images">
      <img [src]="image.img1.src" [alt]="image.img1.alt">
    </div>
   
  </div>

  <div cdkDropList id="contentList" #contentList [cdkDropListData]="contents" (cdkDropListDropped)="drop($event)"
    class="sketcher-content">
    <div cdkDrag (cdkDragEnded)="ended($event)" *ngFor="let content of contents; let i = index">
      <ng-template templateDirective [templateContainer]="this" [template]="content" (onEnter)="entered($event)" (onDrop)="drop($event)">
      </ng-template>
    </div>
  </div>
</div>