<div class="sketcher">

  <div cdkDropList [cdkDropListConnectedTo]="['contentList']" #imageList [cdkDropListData]="showingImages"
    (mousewheel)="scrollList($event)" class="sketcher-list" (cdkDropListDropped)="drop($event)">
    <div cdkDrag (animationend)="onScrollEnd($event)" cdkDragData={{image}} cdkDragBoundary=".sketcher"
      (cdkDragStarted)="start($event)" (cdkDragReleased)="release($event)" (cdkDragMoved)="moved($event)"
      (cdkDragEnded)="ended($event)" *ngFor="let image of showingImages; let i = index" [ngClass]="getEdgeClass(i)"
      class="sketcher-image">

      <div class="sketcher-list-placeholder" *cdkDragPreview>
        <img src="{{image.src}}" alt="{{image.alt}}">
      </div>

      <div class="sketcher-list-preview" *cdkDragPreview>
        <img src="{{image.src}}" alt="{{image.alt}}">
        <p>
          preview element
        </p>
        <img src="{{image.src}}" alt="{{image.alt}}">
      </div>

      <div [ngClass]="{'shift-top':isShiftingTop, 'shift-bottom': isShiftingBottom}" class="sketcher-list-item">
        <img src="{{image.src}}" alt="{{image.alt}}">
      </div>
    </div>
  </div>

  <div cdkDropList [cdkDropListConnectedTo]="getConections()" #templateList="cdkDropList" class="sketcher-templates"
    [cdkDropListData]="templates" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="predicateTemplate">
    <div cdkDrag cdkDragBoundary=".sketcher" (cdkDragEnded)="ended($event)" [cdkDragData]="template"
      class="sketcher-image--drag" *ngFor="let template of templates">
      <img [src]="template.src" [alt]="template.alt">
    </div>
  </div>

  <div cdkDropList id="contentList" class="sketcher-content" [cdkDropListData]="contents"
    (cdkDropListDropped)="drop($event)" *ngFor="let content of contents">

    <div class="sketcher-content-placeholder" *cdkDragPlaceholder>
      <img [src]="content.src" [alt]="content.alt">
      <p>
        placeholder element
      </p>
      <img [src]="content.src" [alt]="content.alt">
    </div>

    <div class="sketcher-content-preview" *cdkDragPreview>
      <img [src]="content.src" [alt]="content.alt">
      <p>
        preview element
      </p>
      <img [src]="content.src" [alt]="content.alt">
    </div>

    <div class="sketcher-content-item" >
      <div cdkDropList (cdkDropListDropped)="drop($event)" id={{content.img1.id}} [cdkDropListData]="contents2"
        class="" >
        <img [src]="contents2[0].src" [alt]="contents2[0].alt">
      </div>
      <p>
        -----------------  real element  -----------------
      </p>
      <div cdkDropList (cdkDropListDropped)="drop($event)" id={{content.img2.id}} [cdkDropListData]="contents2"
        class="" >
        <img [src]="contents2[0].src" [alt]="contents2[0].alt">
      </div>
    </div>
  </div>

</div>