.sketcher {
  width: calc(100% - 4rem);
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: cadetblue;
  padding: 1rem;

  // mid content
  &-content {
    height: 100%;
    background-color: coral;
    width: 70%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    &-placeholder {
      background-color: darkgray;
    }
    &-preview {
    }
    &-item {
      display: flex;
      width: 100%;
      background-color: darkred;
      padding-bottom: 57px;
      &__img {
        .cdk-drag-placeholder {
          max-height: 0px;
          opacity: 0;
        }
      }
      .cdk-drop-list-dragging {
        img {
          opacity: 0;
        }
        outline: 5px dotted aqua;
        outline-offset: -10px;
      }
    }
  }

  // right list
  &-templates {
    width: 90px;
    height: 500px;
    background-color: green;
    position: relative;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
 
}
