<div cdkDropList [cdkDropListConnectedTo]="['contentList']" #templateList [cdkDropListData]="showingTemplates"
    class="list">
    <div cdkDrag (animationend)="onScrollEnd($event)" cdkDragData={{template}} cdkDragBoundary=".sketcher"
      *ngFor="let template of showingTemplates; let i = index"
      [ngClass]="getEdgeClass(i)" class="image">

      <div class="list-placeholder" *cdkDragPlaceholder>
          <img src="{{template.img1.src}}" alt="{{template.img1.alt}}">
          <p>
            placeholder element
          </p>
          <img src="{{template.img2.src}}" alt="{{template.img2.alt}}">
      </div>

      <div class="list-preview" *cdkDragPreview>
        <img src="{{template.img1.src}}" alt="{{template.img1.alt}}">
        <p>
          preview element
        </p>
        <img src="{{template.img2.src}}" alt="{{template.img2.alt}}">
      </div>

      <div [ngClass]="{'shift-top':isShiftingTop, 'shift-bottom': isShiftingBottom}" class="list-item">
        <img src="{{template.img1.src}}" alt="{{template.img1.alt}}">
      </div>
    </div>
  </div>
