.header {
  display: flex;
  height: 10rem;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.708),
    rgba(255, 255, 255, 0.708)
  ),url("../../../assets/test-back2.jpg");
  background-size: 100% 50rem;
  background-position: top;
  background-repeat: no-repeat;
  &-logo {
    width: 100%;
    margin-left: 6rem;
    margin-top: 3rem;
  }

  &-menu {
    margin-right: 4rem;
  }
}