<div class="sketcher">

  <div cdkDropList [cdkDropListConnectedTo]="['contentList']" #templateList [cdkDropListData]="getTemplates()"
    class="sketcher-templates">
    <div cdkDrag cdkDragData={{template}} cdkDragBoundary=".sketcher" *ngFor="let template of getTemplates(); let i = index"
      class="image">
      <div *ngIf="template">
        <div class="sketcher-templates-placeholder" *cdkDragPlaceholder>
          <img src="{{template.imageSrc}}" alt="{{template.alt}}">
          <p>
            placeholder element
          </p>
        </div>

        <div class="sketcher-templates-preview" *cdkDragPreview>
          <img src="{{template.imageSrc}}" alt="{{template.alt}}">
          <p>
            preview element
          </p>
        </div>

        <div class="sketcher-templates-item">
          <img src="{{template.imageSrc}}" alt="{{template.alt}}">
        </div>
      </div>
    </div>
  </div>

  <div cdkDropList [cdkDropListConnectedTo]="getConnections()" #templateList="cdkDropList" class="sketcher-places"
    [cdkDropListData]="getPlaces()" (cdkDropListDropped)="drop($event)">
    <div cdkDrag (cdkDragMoved)="moved($event)" (cdkDragEnded)="ended($event)" cdkDragBoundary=".sketcher"
      [cdkDragData]="place" *ngFor="let place of getPlaces()">
      <div class="sketcher-places-item">
        <img [src]="place.src" [alt]="place.alt">
      </div>

    </div>

  </div>

  <div cdkDropList id="contentList" #contentList [cdkDropListData]="getContents()" (cdkDropListDropped)="drop($event)"
    class="sketcher-content">
    <div cdkDrag (cdkDragEnded)="ended($event)" *ngFor="let content of getContents(); let i = index">
      <ng-template templateDirective [templateContainer]="this" [template]="content" [index]="getIndex()"
        (onConnections)="onConnections($event)" (onEnter)="entered($event)" (onDrop)="drop($event)">
      </ng-template>
    </div>
  </div>
</div>