.sketcher {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  padding: 1rem;

  &-templates {
    display: block;
    width: 9rem;
    height: 100%;
    position: relative;
    float: left;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    &-placeholder {
      display: flex;
      opacity: 0.5;
      width: 9rem;
      height: 9rem;
      margin: 0.5rem 0;
      img {
        width: 100%;
        height: 100%;
      }
      &--content {
        transform: translate3d(0,0,0) !important;
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-preview {
      display: flex;
      height: 9rem;
      width: 40%;
      img {
        width: 9rem;
        height: 9rem;
      }
    }
    &-item {
      width: 9rem;
      height: 9rem;
      margin: 0.5rem 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  // mid content
  &-content {
    height: 100%;
    width: 70%;
    margin: auto;
    //overflow-y: hidden;
    overflow-x: hidden;
    border: 0.1rem solid black;
    &::-webkit-scrollbar {
      width: 0;
    }
    .cdk-drag .cdk-drag-placeholder {
      max-height: 0;
      opacity: 0;
    }
  }

  // right list
  &-places {
    width: 9rem;
    height: 100%;
    position: relative;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0;
    }
    &-item {
      width: 9rem;
      height: 9rem;
      img {
        width: 9rem;
        height: 9rem;
      }
      .cdk-drag .cdk-drag-placeholder {
        img {
          width: 9rem;
          height: 9rem;
        }
      }
    }
  }
}