<div cdkDropList (cdkDropListEntered)="enter($event)" (cdkDropListExited)="exit($event)"
  class="container__border--horizontal">

</div>

<div class="container__content">

  <div cdkDropList (cdkDropListEntered)="enter($event)" (cdkDropListExited)="exit($event)"
    class="container__border--vertical">
  </div>

  <ng-content></ng-content>

  <div cdkDropList (cdkDropListEntered)="enter($event)" (cdkDropListExited)="exit($event)"
    class="container__border--vertical">
  </div>

</div>

<div cdkDropList (cdkDropListEntered)="enter($event)" (cdkDropListExited)="exit($event)"
  class="container__border--horizontal">
</div>
