.container {
  height: 6rem;
  width: 10rem;
  &__border {
    
    &--horizontal {
      width: 100%;
      height: .5rem;
      background-color: green;
    }
    &--vertical {
      height: 100%;
      width: .5rem;
      background-color: purple;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: blue;
  }
}

.content {
  background-color: red;
}
