/* animation to right */

.edgeleft-to-right {
  animation: edgeleft-to-right var(--animation-timer) forwards linear;
  @keyframes edgeleft-to-right {
    100% {
      transform: translateY(var(--cent-vert)) translateX(var(--animation-displacement));
    }
  }
}

.left-to-right {
  animation: left-to-right var(--animation-timer) forwards linear;
  @keyframes left-to-right {
    0% {
      transform: translateY(var(--cent-vert)) scale(1);
    }

    100% {
      transform: translateY(var(--cent-vert)) scale(var(--animation-big-scale))
        translateX(var(--animation-displacement-mid));
    }
  }
}

.mid-to-right {
  animation: mid-to-right var(--animation-timer) forwards linear;
  @keyframes mid-to-right {
    0% {
      transform: translateY(var(--cent-vert)) scale(var(--animation-big-scale));
    }

    100% {
      transform: translateY(var(--cent-vert)) scale(1)
        translateX(var(--animation-displacement));
    }
  }
}

.right-to-right {
  animation: right-to-right var(--animation-timer) forwards linear;
  @keyframes right-to-right {
    100% {
      transform: translateY(var(--cent-vert)) translateX(var(--animation-displacement));
    }
  }
}

.edgeright-to-right {
  animation: edgeright-to-right var(--animation-timer) forwards linear;
  @keyframes edgeright-to-right {
    0% {
    }

    100% {
      transform: translateY(var(--cent-vert)) translateX(var(--animation-displacement));
    }
  }
}

.go-right {
  .banner-edgeleft {
    @extend .edgeleft-to-right;
  }
  .banner-left {
    @extend .left-to-right;
  }
  .banner-mid {
    @extend .mid-to-right;
  }
  .banner-right {
    @extend .right-to-right;
  }
  .banner-edgeright {
    @extend .edgeright-to-right;
  }
}

/* animation to left */

.edgeleft-to-left {
  animation: edgeleft-to-left var(--animation-timer) forwards linear;
  @keyframes edgeleft-to-left {
    100% {
      transform: translateY(var(--cent-vert)) translateX(calc(-1*var(--animation-displacement)));
    }
  }
}

.edgeleft-to-left {
  animation: edgeleft-to-left var(--animation-timer) forwards linear;
  @keyframes edgeleft-to-left {
    100% {
      transform: translateY(var(--cent-vert)) translateX(calc(-1*var(--animation-displacement)));
    }
  }
}

.left-to-left {
  animation: left-to-left var(--animation-timer) forwards linear;
  @keyframes left-to-left {
    100% {
      transform: translateY(var(--cent-vert)) translateX(calc(-1*var(--animation-displacement)));
    }
  }
}

.mid-to-left {
  animation: mid-to-left var(--animation-timer) forwards linear;
  @keyframes mid-to-left {
    0% {
      transform: translateY(var(--cent-vert)) scale(var(--animation-big-scale));
    }

    100% {
      transform: translateY(var(--cent-vert)) scale(1)
        translateX(calc(-1*var(--animation-displacement)));
    }
  }
}

.right-to-left {
  animation: right-to-left var(--animation-timer) forwards linear;
  @keyframes right-to-left {
    0% {
      transform: translateY(var(--cent-vert)) scale(1);
    }

    100% {
      transform: translateY(var(--cent-vert)) scale(var(--animation-big-scale))
        translateX(calc(-1*var(--animation-displacement-mid)));
    }
  }
}
.edgeright-to-left {
  animation: edgeright-to-left var(--animation-timer) forwards linear;
  @keyframes edgeright-to-left {
    100% {
      transform: translateY(var(--cent-vert)) translateX(calc(-1*var(--animation-displacement)));
    }
  }
}

.go-left {
  .banner-edgeleft {
    @extend .edgeleft-to-left;
  }
  .banner-left {
    @extend .left-to-left;
  }
  .banner-mid {
    @extend .mid-to-left;
  }
  .banner-right {
    @extend .right-to-left;
  }
  .banner-edgeright {
    @extend .edgeright-to-left;
  }
}
