<div class="banner">
  <div #banner class="banner__content centrilize-vert">
    <div #bannerEdgeLeft class="banner-edgeleft banner__content--edgeleft centrilize-vert"></div>
    <div #bannerLeft class="banner-left banner__content--left centrilize-vert"></div>
    <div #bannerMid class="banner-mid banner__content--mid centrilize-vert"></div>
    <div #bannerRight class="banner-right banner__content--right centrilize-vert"></div>
    <div #bannerEdgeRight class="banner-edgeright banner__content--edgeright centrilize-vert"></div>
  </div>
</div>
