$animation-big-scale: 1.2;
$cent-vert: -50%;
$cent-hor: -14.2%;
$margin-hor: 1.85%;

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner {
  width: 250%;
  height: 100%;
  &__content {
    width: 100%;
    height: 80%;
    display: flex;
    overflow: hidden;
    transform: translateY($cent-vert) translateX($cent-hor);
    div {
      max-height: 70%;
      width: 10%;
      margin: 0 $margin-hor;
    }
    image {
      background-size: cover;
      background-position: center;
    }
    &--edgeleft {
    }
    &--left {
    }
    &--mid {
      transform: translateY($cent-vert) scale($animation-big-scale);
    }
    &--right {
    }
    &--edgeright {
    }
  }
}

