$animation-big-scale: 1.2;
$cent-vert: -50%;

.banner {
  width: 100%;
  height: 50%;
  background-color: gray;
  &__content {
    width: 100%;
    height: 80%;
    display: flex;
    overflow: hidden;
    div {
      max-height: 70%;
      width: 100%;
      margin: 0 1.85%;
    }
    image {
      background-size: cover;
      background-position: center;
    }
    &--edgeleft {
    }
    &--left {
    }
    &--mid {
      transform: translateY($cent-vert) scale($animation-big-scale);
    }
    &--right {
    }
    &--edgeright {
    }
  }
}

