$animation-timer: 1s;
$animation-displacement: 125%;
$animation-displacement-mid: 105%;
$animation-big-scale: 1.2;
$cent-vert: -50%;

.edgeleft-to-right {
  animation: edgeleft-to-right $animation-timer forwards linear;
  @keyframes edgeleft-to-right {
    0% {
    }

    100% {
      transform: translateY($cent-vert) translateX($animation-displacement);
    }
  }
}

.left-to-right {
  animation: left-to-right $animation-timer forwards linear;
  @keyframes left-to-right {
    0% {
      transform: translateY($cent-vert) scale(1);
    }

    100% {
      transform: translateY($cent-vert) scale($animation-big-scale)
        translateX($animation-displacement-mid);
    }
  }
}

.mid-to-right {
  animation: mid-to-right $animation-timer forwards linear;
  @keyframes mid-to-right {
    0% {
      transform: translateY($cent-vert) scale($animation-big-scale);
    }

    100% {
      transform: translateY($cent-vert) scale(1)
        translateX($animation-displacement);
    }
  }
}

.right-to-right {
  animation: right-to-right $animation-timer forwards linear;
  @keyframes right-to-right {
    0% {
    }

    100% {
      transform: translateY($cent-vert) translateX($animation-displacement);
    }
  }
}

.edgeright-to-right {
  animation: edgeright-to-right $animation-timer forwards linear;
  @keyframes edgeright-to-right {
    0% {
    }

    100% {
      transform: translateY($cent-vert) translateX($animation-displacement);
    }
  }
}

.edgeleft-to-left {
  animation: edgeleft-to-left $animation-timer forwards linear;
  @keyframes edgeleft-to-left {
    100% {
    }
  }
}

.edgeleft-to-left {
  animation: edgeleft-to-left $animation-timer forwards linear;
  @keyframes edgeleft-to-left {
    100% {
    }
  }
}

.edgeleft-to-left {
  animation: edgeleft-to-left $animation-timer forwards linear;
  @keyframes edgeleft-to-left {
    100% {
    }
  }
}

.edgeleft-to-left {
  animation: edgeleft-to-left $animation-timer forwards linear;
  @keyframes edgeleft-to-left {
    100% {
    }
  }
}

.go-right {
  .banner-edgeleft {
    @extend .edgeleft-to-right;
  }
  .banner-left {
    @extend .left-to-right;
  }
  .banner-mid {
    @extend .mid-to-right;
  }
  .banner-right {
    @extend .right-to-right;
  }
  .banner-edgeright {
    @extend .edgeright-to-right;
  }
}
