<app-header [data]="getUserData()"></app-header>
<div class="home">
  <div (click)="goToScketcher()" class="home__albums">
    <div class="home__albums--new-icon centralize-hor">
    </div>
    <p class="home__albums--new-text">new</p>
  </div>
  <div *ngIf="!hasAlbums()" class="home__empty ">
    <app-banner class="home__empty--banner"></app-banner>
    <p>Tell the amazing moments of your life</p>
    <p>create the most beautiful albums</p>
  </div>
  <div *ngIf="hasAlbums()" class="home__content">
    <div class="home__content__albuns">
      <app-banner class="home__empty--banner"></app-banner>
    </div>
    <div class="home__content__selected-album">
    </div>
  </div>
</div>
