.page {
  background: white;
  text-align: center;
  padding-top: 12rem;
  .login {
    height: 8.5rem;
    width: 20rem;
    padding: 1rem;
    text-align: center;
    margin: auto;
    border: 6px solid #bbb;
    &-username,
    &-password {
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      .label {
        margin-right: 0.5rem;
        width: 4rem;
        text-align: left;
      }
    }
    &-button {
      display: block;
      margin: .5rem auto;
    }
    &-error-label {
      color: red;
      margin-top: 1rem;
    }
  }
  .signin {
    display: block;
    margin-top: .8rem;
    margin-bottom: .8rem;
  }

  .about {
    display: block;
  }


}
