@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  margin: 0;
  padding: 0;
  // change the box model so that the box border and paddings are not longer added
  // to the total height or width of the element
  box-sizing: border-box;  
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

a:hover {
  cursor: pointer;
}

.hide-text {
  color: transparent !important;
}