.user-menu {
  background-image: url("../../../assets/user-menu-white.png");
    background-size: 5.5rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.5rem;
    transform: translate(100rem, 4rem);
    left: 40%;
}
